@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-ExtraLight.ttf');
    font-weight: 200;
  }
@media (max-width: 780px){
    *{
        box-sizing: border-box;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: bold;
    }
    
    html,body{
        margin: 0;
    }
    
    body{
        background-color: #e7d1de;
    }
    
    .header{
        /* width: 100%; */
        display: flex;
        padding: 0.5em;
        gap: 0.5em;
        background-color: #354c6b;
    }
    
    .logo{
        width: 70%;
    }
    
    .img-logo{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
    
    .cart-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    
    .img-cart{
        width: 100%;
        border-radius: 8px;
    }
    
    .profile-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    
    .img-profile{
        width: 100%;
        border-radius: 8px;
    }
    
    .navigation-bar{
        background-color: rgb(144, 158, 172);
        /* display: flex; */
        /* padding: 1em; */
    }
    
    .navigation-list{
        padding: 0;
        width: 100%;
        list-style: none;
        margin-top: 0;
        display: none;/*SE AGREGO ESTO*/
    }
    
    .nav-item{
        font-size: 1.3em;
        padding: 0.3em;
        border-top: 0.5px solid gray;
    }
    
    .img-producto{
        border-radius: 8px;
        width: 100%;
    }
    
    .product-photo{
        width: 100%;
    }
    
    .content{
        padding: 0.5em;
        border-bottom: 0.5px solid gray;
    }
    
    
    .product-text{
        margin: 0;
        padding: 0.5em;
        font-size: 1.3em;
        text-align: justify;
    }
    
    .title-opinions{
        text-align: center;
        margin: 0;
        padding: 0.3em;
    }
    
    
    .ad{
        display: none;
    }
    
    .price-add{
        padding: 1em;
        display: flex;
        justify-content: space-around;
    }
    
    
    .opinions{
        text-align: center;
        width: 100%;
    }

    .opinion-element{
        border-bottom: 0.5px solid gray;
        padding: 0.5em 0;
    }
    
    .footer{
        padding: 1em;
        font-size: 0.8em;
    }
    
    .opinions{
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 0.5em;
    }
    
    .author-name{
        margin: 0;
    }
    
    .insert_opinion{
        padding: 0 1em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 0.5em;
    }
    
    
    .field-opinion{
        resize: none;
        width: 100%;
    }
    
    
    .submit-opinion{
        width: 50%;
    }
    
    .nav-link{
        text-decoration: none;
        color: black;
    }

    .email-webmaster{
        text-decoration: none;
        color: black;
    }

    .boton-menu>button{
        width: 20%;
        height: 3em;
        padding: 0;
    }

    .nav-item:hover{
        background-color: rgb(102, 154, 206);
    }
    .nav-item > a:hover {
        color: white;
    }

    #boton{
        background-color: aqua;
        cursor: pointer;
        border-radius: 0.5em;
    }

    #boton:hover{
        background-color: #354c6b;
        color: aqua;
    }
}

@media (min-width: 780px){/*Esto si se ve en una computadora*/
    *{
        box-sizing: border-box;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: bold;
    }
    
    html,body{
        margin: 0;
    }
    
    body{
        background-color: #e7d1de;
    }
    
    .header{
        /* width: 100%; */
        display: flex;
        padding: 0.5em;
        background-color: #354c6b;
    }

    .logo{
        width: 70%;
    }

    .img-logo{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .cart-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }

    .img-cart{
        width: 100%;
        border-radius: 8px;
    }

    .profile-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    
    .img-profile{
        width: 100%;
        border-radius: 8px;
    }

    .boton-menu{
        display: none;
    }

    .navigation-bar{
        background-color: rgb(144, 158, 172);
        display: flex;
        /* padding: 1em; */
    }

    .navigation-list{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    }

    .content{
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid gray;
    }

    .opinions{
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 0.5em;
    }

    .ad{
        display:block;
    }

    .img-producto{
        border-radius: 8px;
        width: 100%;
        height: 100%;
    }

    .footer{
        padding: 1em;
        display: flex;
        align-items: center;
        gap: 0.7em;
        border-top: 0.5px solid gray;
    }

    .product-photo{
        width: 100%;
    }

    .img-ad{
        border-radius: 8px;
    }

    .price-add{
        padding: 1em;
        display: flex;
        justify-content: space-around;
    }

    .product-text{
        margin: 0;
        padding: 0.5em;
        font-size: 1.3em;
        text-align: justify;
    }

    .title-opinions{
        text-align: center;
        margin: 0;
        padding: 0.3em;
    }

    .opinion-element{
        border-bottom: 0.5px solid gray;
        padding: 0.5em 0;
    }

    .author-name{
        margin: 0;
    }

    .insert_opinion{
        padding: 0.5em 1em;
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 30%;
        align-items: center;
        gap: 0.5em;
    }


    .field-opinion{
        resize: none;
        width: 100%;
    }


    .submit-opinion{
        width: 50%;
    }

    .nav-link{
        text-decoration: none;
        color: black;
    }

    .email-webmaster{
        text-decoration: none;
        color: black;
    }

    .nav-item{
        padding: 0.5em;
    }

    .nav-item:hover{
        background-color: rgb(102, 154, 206);
    }
    .nav-item > a:hover {
        color: white;
    }

}