@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-ExtraLight.ttf');
    font-weight: 200;
  }
@media (max-width: 780px){
    *{
        box-sizing: border-box;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: bold;
    }
    
    html,body{
        margin: 0;
    }
    
    body{
        background-color: #e7d1de;
    }
    
    .header{
        /* width: 100%; */
        display: flex;
        padding: 0.5em;
        gap: 0.5em;
        background-color: #354c6b;
    }
    
    .logo{
        width: 70%;
    }
    
    .img-logo{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
    
    .cart-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    
    .img-cart{
        width: 100%;
        border-radius: 8px;
    }
    
    .profile-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    
    .img-profile{
        width: 100%;
        border-radius: 8px;
    }
    
    .navigation-bar{
        background-color: rgb(144, 158, 172);
        /* display: flex; */
        /* padding: 1em; */
    }
    
    .navigation-list{
        padding: 0;
        width: 100%;
        list-style: none;
        margin-top: 0;
        display: none;/*SE AGREGO ESTO*/
    }
    
    .nav-item{
        font-size: 1.3em;
        padding: 0.3em;
        border-top: 0.5px solid gray;
    }
    
    
    
    .img-product{
        border-radius: 8px;
        width: 40%;
    }
    
    .product-description{
        /* padding-left: 0.2em; */
        width: 60%;
    }
    
    .product{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 0.5px solid gray;
        border-top: 0.5px solid gray;
        padding-top: 1em;
    }
    
    .list-feature{
        font-size: 1.1em;
        padding-left: 1.5em;
    }
    
    .price{
        width: 100%;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .price > h1{
        width: 45%;
    }
    
    
    .title-cart{
        text-align: center;
        margin: 0;
        padding: 0.3em;
    }
    
    .name-product{
        margin: 0;
        padding: 0.3em;
        text-align: center;
    }
    
    
    .list-products{
        /* text-align: center; */
        width: 100%;
        padding: 0.5em;
    }
    
    .footer{
        padding: 1em;
        font-size: 0.8em;
    }
    
    .checkout{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 0.5em;
        border-bottom: 0.5px solid gray;
    }
    
    .subtotal{
        width: 30%;
    }
    
    .proceed-checkout{
        width: 100%;
    }
    .nav-link{
        text-decoration: none;
        color: black;
    }
    
    .email-webmaster{
        text-decoration: none;
        color: black;
    }

    .boton-menu>button{
        width: 20%;
        height: 3em;
        padding: 0;
    }
}


@media (min-width: 780px){/*Esto si se ve en una computadora*/
    *{
        box-sizing: border-box;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: bold;
    }
    
    html,body{
        margin: 0;
    }
    
    body{
        background-color: #e7d1de;
    }
    
    .header{
        /* width: 100%; */
        display: flex;
        padding: 0.5em;
        background-color: #354c6b;
    }

    .logo{
        width: 70%;
    }

    .img-logo{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .cart-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }

    .img-cart{
        width: 100%;
        border-radius: 8px;
    }

    .profile-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    
    .img-profile{
        width: 100%;
        border-radius: 8px;
    }

    .boton-menu{
        display: none;
    }

    .navigation-bar{
        background-color: rgb(144, 158, 172);
        display: flex;
        /* padding: 1em; */
    }

    .navigation-list{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    }

    .list-products{
        width: 100%;
        padding: 3em;
        padding-bottom: 1em;
    }

    .footer{
        padding: 1em;
        display: flex;
        align-items: center;
        gap: 0.7em;
    }

    .img-product{
        border-radius: 8px;
        width: 28%;
    }


    .title-cart{
        text-align: center;
        margin: 0;
        /* padding: 0.3em; */
        padding-top: 1em;
    }

    .name-product{
        margin: 0;
        padding: 0.3em;
        text-align: center;
    }

    .product{
        display: flex;
        /* justify-content: space-around; */
        gap: 4em;
        padding: 0.5em;
        border-bottom: 0.5px solid gray;
        border-top: 0.5px solid gray;
    }

    .price{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6em;
        width: 30%;
        /* text-align: center; */
    }

    .price > h1{
        width: 40%;
    }

    .list-feature{
        font-size: 1.2em;
        /* text-align: left; */
        padding: 0;
    }

    .product-description{
        width: 22%;
    }

    .checkout{
        display: flex;
        justify-content: space-around;
        padding-bottom: 1em;
        border-bottom: 0.5px solid gray;
    }

    .subtotal{
        width: 15%;
    }

    .proceed-checkout{
        width: 100%;
    }
    .nav-link{
        text-decoration: none;
        color: black;
    }
    
    .email-webmaster{
        text-decoration: none;
        color: black;
    }
}