@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-ExtraLight.ttf');
    font-weight: 200;
  }
@media (max-width: 780px){
    *{
        box-sizing: border-box;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: bold;
    }
    
    html,body{
        margin: 0;
    }
    
    body{
        background-color: #e7d1de;
    }
    
    .header{
        /* width: 100%; */
        display: flex;
        padding: 0.5em;
        gap: 0.5em;
        background-color: #131921;
    }
    
    .logo{
        width: 70%;
    }
    
    .img-logo{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
    
    .cart-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    
    .img-cart{
        width: 100%;
        border-radius: 8px;
    }
    
    .profile-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    
    .img-profile{
        width: 100%;
        border-radius: 8px;
    }
    
    .navigation-bar{
        background-color: rgb(144, 158, 172);
        /* display: flex; */
        /* padding: 1em; */
    }
    
    .navigation-list{
        padding: 0;
        width: 100%;
        list-style: none;
    }
    
    .nav-item{
        font-size: 1.3em;
        padding: 0.3em;
    }
    
    .img-featured{
        border-radius: 8px;
        width: 100%;
    }
    
    .featured-photo{
        width: 100%;
    }
    
    .content{
        padding: 0.5em;
        border-bottom: 0.5px solid gray;
    }
    
    .img-product{
        border-radius: 8px;
    }
    
    .featured-text{
        margin: 0;
        padding: 0.5em;
        font-size: 1.3em;
        text-align: justify;
    }
    
    .title-best-sellers{
        text-align: center;
        margin: 0;
        padding: 0.3em;
    }
    
    .name-product{
        margin: 0;
        padding: 0.3em;
        text-align: center;
    }
    
    .ad{
        display: none;
    }
    
    .best-sellers{
        text-align: center;
        width: 100%;
    }
    
    .footer{
        padding: 1em;
        border-top: 0.5px solid gray;
    }

    .nav-link{
        text-decoration: none;
        color: black;
    }
    
    .email-webmaster{
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 780px){/*Esto si se ve en un computadora*/
    *{
        box-sizing: border-box;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: bold;
    }
    
    html,body{
        margin: 0;
    }
    
    body{
        background-color: #e7d1de;
    }
    
    .header{
        /* width: 100%; */
        display: flex;
        padding: 0.5em;
        background-color: #131921;
    }

    .logo{
        width: 70%;
    }

    .img-logo{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .cart-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }

    .img-cart{
        width: 100%;
        border-radius: 8px;
    }

    .profile-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    
    .img-profile{
        width: 100%;
        border-radius: 8px;
    }

    .boton-menu{
        display: none;
    }

    .navigation-bar{
        background-color: rgb(144, 158, 172);
        display: flex;
        /* padding: 1em; */
    }

    .navigation-list{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    }

    .content{
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid gray;
    }

    .best-sellers{
        display: flex;
        justify-content: space-around;
        gap: 1em;
    }

    .ad{
        display:block;
    }

    .img-featured{
        border-radius: 8px;
        width: 100%;
        height: 100%;
    }

    .footer{
        padding: 1em;
        display: flex;
        align-items: center;
        gap: 0.7em;
        border-top: 0.5px solid gray;
    }

    .img-product{
        border-radius: 8px;
        width: 75%;
    }

    .featured-photo{
        width: 100%;
    }

    .img-ad{
        border-radius: 8px;
    }

    .featured-text{
        margin: 0;
        padding: 0.5em;
        font-size: 1.3em;
        text-align: justify;
    }

    .title-best-sellers{
        text-align: center;
        margin: 0;
        padding: 0.3em;
    }

    .name-product{
        margin: 0;
        padding: 0.3em;
        text-align: center;
    }

    .product{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product > a{
        text-align: center;
        padding: 0 1em;
    }

    .nav-link{
        text-decoration: none;
        color: black;
    }

    .email-webmaster{
        text-decoration: none;
        color: black;
    }
}